#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.bracket-leaf {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 8px;
  padding-top: 0;
  padding-bottom: 0;

  background-color: lightgray;
}

.input-field {
  display: grid;
  grid-template-rows: (repeat(4));
}

.bracket-render-grid {
  display: grid;
}

.round-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.matchup-container {
  border: 1px solid blue;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 5px;
}

.contestant-container {
  border: 1px solid red;
  height: 25px;
  margin: 5px;
}

.contestant-votes {
  border: 1px solid rgb(66, 66, 66);
  height: 25px;
  margin: 5px 5px 5px 0px;
}
